.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .pagination button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .pagination button:disabled {
    color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
  }
  
  